.main{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
}
.main button{
    color: pink;
    background-color: crimson;
    border-radius: 27px;

}